[submodule "submodules/yasnippet"]
	path = submodules/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "submodules/coffee-mode"]
	path = submodules/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "submodules/yaml-mode"]
	path = submodules/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "submodules/sass-mode"]
	path = submodules/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "submodules/haml-mode"]
	path = submodules/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "submodules/pony-mode"]
	path = submodules/pony-mode
	url = git://github.com/davidmiller/pony-mode.git
[submodule "submodules/ecb"]
	path = submodules/ecb
	url = git://github.com/emacsmirror/ecb.git
[submodule "submodules/scss-mode"]
	path = submodules/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "submodules/hardcore-mode"]
	path = submodules/hardcore-mode
	url = git://github.com/magnars/hardcore-mode.el.git
[submodule "submodules/nyan-mode"]
	path = submodules/nyan-mode
	url = git://github.com/TeMPOraL/nyan-mode.git
[submodule "submodules/ace-jump-mode"]
	path = submodules/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "submodules/fill-column-indicator"]
	path = submodules/fill-column-indicator
	url = git://github.com/alpaker/Fill-Column-Indicator.git
[submodule "submodules/autopair"]
	path = submodules/autopair
	url = git://github.com/capitaomorte/autopair.git
[submodule "submodules/markdown-mode"]
	path = submodules/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "submodules/rinari"]
	path = submodules/rinari
	url = git://github.com/eschulte/rinari.git
